@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录</title>
</head>
<body>
        <a href="/User/RegView/">注册</a>
        <form method="post" action='~/User/Login/'>
            用户名: <input type="text" name="Username" /></br>
            密码: <input type="password" name="Password" /></br>
            <input type="submit" value="登录" />
        </form>
    </div>
</body>
</html>




