@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post" action='~/User/Add/'>
            用户名: <input type="text" name="Username" /></br>
            密码: <input type="password" name="Password" /></br>
            真实姓名: <input type="text" name="RealName" /></br>
            邮箱: <input type="text" name="Email" /></br>
            电话: <input type="text" name="Telephone" /></br>
            <input type="submit" value="注册" />
        </form>
    </div>
</body>
</html>
